

/* Feature Cards */
.feature-card {
  text-align: center;
  border-radius: 12px;
  padding: 20px;
  color: white;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Feature Icons */
.feature-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Gradient Backgrounds */
.bg-gradient-1 {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}
.bg-gradient-2 {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
}
.bg-gradient-3 {
  background: linear-gradient(135deg, #43cea2, #185a9d);
}
.bg-gradient-4 {
  background: linear-gradient(135deg, #f7971e, #ffd200);
}
.bg-gradient-5 {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
}

.whatsapphead{
  background-color: rgb(245, 221, 143);
}

/* Mobile logo + font smaller */
@media (max-width: 768px) {
  .logo-icon {
    font-size: 14px !important;
  }
  .logo-text {
    font-size: 14px !important;
  }
}

/* slick css import */
.slick-slide {
  padding: 10px;
}
.slick-prev:before, .slick-next:before {
  color: black;   /* arrow ka color */
}
/* Mobile collapse dropdown fix */
@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%; /* toggle ke just neeche */
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    padding: 15px;
  }
}

/* Optional: remove collapse animation jump */
.navbar-collapse.collapse {
  transition: none !important;
}

/* Default (Tablet/Laptop ke liye normal size) */
.product-img {
  height: 250px;
  object-fit: cover;
}
.product-title {
  font-size: 16px;
}
.product-price {
  font-size: 14px;
}
.product-mrp {
  font-size: 13px;
}

/* Mobile ke liye chhota size */
@media (max-width: 576px) {
  .product-img {
    height: 120px;
  }
  .product-title {
    font-size: 10px;
  }
  .product-price {
    font-size: 10px;
  }
  .product-mrp {
    font-size: 10px;
  }
  .item-discount{
     font-size:10px;
  }
  
}

